body{
    font-family:'Courier New', Courier, monospace;
}


.main-content{
    margin-top: 225px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.sumb{
    margin-top: 15px;
    width: 125px;
    height: 20px;
    border-style: none;
    border-radius: 10px;
}

.sumb:hover{
    background-color: rgb(194, 194, 194);
}


.sumb:active{
    background-color: rgb(255, 255, 255);
}


.help a{
    text-decoration: none;
    color: black;
}