.main-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 250px;
}

.sumb{
    border-style: none;
    width: 120px;
    height: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.sumb:hover{
    background-color: gray;
}

.sumb:active{
    background-color: white;
}