<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href={{ url_for("static", filename="/css/auth.css") }}>
</head>
<body>
    <div class = "main-content">
        <form method="post">
            <div class = element>
                <h1>Авторизация</h1>
            </div>
            {% if valid_data %}
            <div>
                <p class="no_valid">не верно введены данные</p>
            </div>
            {% endif %}
            <div>
                <p>Введите логин</p>
                <input type="text" name = "login">
            </div>
            <div>
                <p>Введите пароль</p>
                <input type="password" name="password">
            </div>
            <div>
                <input type="submit" class = "sumb" value="Войти">
            </div>
            <div class = "help">
                <p><a href="/register">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>
</body>
</html>