<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена логина</title>
    <link rel="stylesheet" href={{ url_for("static", filename="/css/Changing_form.css") }}>
</head>
<body>
    <div class="main-content">
        <form method="post">
            <div>
                <h1>Смена логина</h1>
            </div>
            <div>
                <h3>Введите новый логин</h3>
                <input type="text" name="login">
            </div>
            <div>
                <input type="submit" value="сменить" class="sumb">
            </div>
        </form>
    </div>
</body>
</html>