<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена почты</title>
    <link rel="stylesheet" href="Changing_login.css">
</head>
<body>
    <div class="main-content">
        <form method="post">
            <div>
                <h1>Смена почты</h1>
            </div>
            <div>
                <h3>Введите новый mail</h3>
                <input type="text" name="mail">
            </div>
            <div>
                <input type="submit" value="сменить" class="sumb">
            </div>
        </form>
    </div>
</body>
</html>