<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for("static", filename="/css/profil.css") }}>
    <title>Профиль</title>
</head>
<body>
    <div class = "main-content">
        <div>
            <h1>Личный кабинет</h1>
        </div>
        <div>
            <h1>Вы находитесь в личном кабинете<br>вы можете</h1>
        </div>
        <div class = "elements">
            <h2><a href="/changing_login">Сменить логин</a></h2>
            <h2><a href="/changing_mail">Сменить почту</a></h2>
            <h2><a href="/changing_password">Сменить пароль</a></h2>
        </div>
        <div>
            <h3><a href="/exit">Выйти</a></h>
        </div>
    </div>
</body>
</html>